filebeat.inputs:
- type: log
  # enabled: true
  paths:
  #  - /var/log/*.log
    - /var/log/messages
filebeat.config.modules:
  path: /etc/filebeat/modules.d/*.yml
  reload.enabled: false
setup.template.settings:
  index.number_of_shards: 3
setup.kibana:
output.elasticsearch:
  hosts: ["localhost:9200"]
  # ilm.enabled: true
  
#- module: nginx
#  access:
#    enabled: true
#    var.paths: ["/path/to/log/nginx/access.log*"]
#  error:
#    enabled: true
#    var.paths: ["/path/to/log/nginx/error.log*"]

processors:
  - add_host_metadata:
      when.not.contains.tags: forwarded
  - add_cloud_metadata: ~
  - add_docker_metadata: ~
  - add_kubernetes_metadata: ~
