cluster.name: cluster-{{ ansible_hostname }}
node.name: {{ ansible_hostname }}
node.data: true
node.ingest: true
node.master: true
path.data: /data/elasticsearch
path.logs: /var/log/elasticsearch
network.host: 0.0.0.0
discovery.seed_hosts: ["{{ ansible_hostname }}"]
cluster.initial_master_nodes: ["{{ ansible_hostname }}"]

#xpack.license.self_generated.type: basic
#xpack.security.enabled: true
#xpack.monitoring.collection.enabled: true

#xpack.security.transport.ssl.enabled: true
#xpack.security.transport.ssl.verification_mode: certificate
#xpack.security.transport.ssl.key: /etc/elasticsearch/certs/sp3elastic01.key
#xpack.security.transport.ssl.certificate: /etc/elasticsearch/certs/sp3elastic01.crt
#xpack.security.transport.ssl.certificate_authorities: [ "/etc/elasticsearch/certs/elastic-ca.crt" ]
