cluster.name: cluster-{{ ansible_hostname }}

cluster.initial_master_nodes: ["{{ ansible_hostname }}"]
discovery.seed_hosts: ["{{ ansible_hostname }}"]
discovery.zen.minimum_master_nodes: 1
# discovery.zen.ping.unicast.hosts: ["{{ ansible_hostname }}"]
network.host: 0.0.0.0

node.name: {{ ansible_hostname }}
node.data: true
node.ingest: true
node.master: true

path.data: /data/elasticsearch
path.logs: /var/log/elasticsearch

http.cors.allow-origin: "*"
http.cors.enabled: true

# Habilitando xpack security
# xpack.security.enabled: false
# xpack.security.transport.ssl.enabled: true
# xpack.security.transport.ssl.verification_mode: certificate
# xpack.security.transport.ssl.keystore.path: /etc/elasticsearch/elastic-certificates.p12
# xpack.security.transport.ssl.truststore.path: /etc/elasticsearch/elastic-certificates.p12

# Habilitando metricas basicas
xpack.monitoring.collection.enabled: true

# Habilitando licensa trial
xpack.license.self_generated.type: trial